{% extends "base.html" %}
{% load static %}


{% block content %}
        <div class="text-center">
            <h1>{{ title }}</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/rick_cover.png' %}" width="50%" height="50%" class="img-fluid">
                    <p>{{ content }}</p>
                </div>
            </div>
            {% if request.user.is_authenticated %}
            <div class="row">
                <div class="col">
                    <h2>PREMIUM</h2>
                    <p>{{ premium_content }}</p>
                </div>
            </div>
            {% endif %}
        </div>
{% endblock %}
